strict-ssl=false
registry=https://artifactory.2b82.aws.cloud.airbus.corp/artifactory/api/npm/r-2b82-horizon-npm-virtual/
@horizon:registry=https://artifactory.2b82.aws.cloud.airbus.corp/artifactory/api/npm/r-2b82-horizon-npm-virtual/
proxy=http://cedric.noyel@airbus.com:4XPmTRZuKVe!@fr0-proxylan-vip.eu.airbus.corp:3128/
https-proxy=http://cedric.noyel@airbus.com:4XPmTRZuKVe!@fr0-proxylan-vip.eu.airbus.corp:3128/